.book-details-container {
  padding: 20px;
}

mat-card {
  margin-bottom: 20px;
}

::ng-deep mat-chip .mat-chip-label,
::ng-deep mat-chip .mdc-evolution-chip__text-label {
  max-width: 200px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: inline-block;
}

.tags-container {
  display: flex;
  gap: 5px;
  flex-wrap: wrap;
  max-width: 100%;
}